
@{
    ViewData["Title"] = "movimientosByCuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h1>movimientosByCuenta</h1>
<h2>@ViewBag.idCuenta;</h2>

<div class="container">
    <div class="row">

        <label>Cuenta:</label>
        <input type="text" class="form-control required" id="txtCuenta" autocomplete="off" readonly="readonly">
        <br />

        <label>Nombre Cuenta:</label>
        <input type="text" class="form-control required" id="txtNombreCuenta" autocomplete="off" readonly="readonly">
        <br />

        <label>Saldo:</label>
        <input type="text" class="form-control required" id="txtSaldo" autocomplete="off" readonly="readonly">
        <br />

        <label>Moneda:</label>
        <input type="text" class="form-control required" id="txtMoneda" autocomplete="off" readonly="readonly">
        <br />

        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Importe</th>

                </tr>
            </thead>

            <tbody>
                @for (int i = 1; i <= 100; i++)
                {
                    <tr>
                        <td>@i.ToString()</td>
                        <td>usd</td>
                    </tr>
                }

            </tbody>

        </table>

        <input type="button" id="btnRetiro" value="Cancelar" class="btn btn-primary" onclick="cancelar()" />

    </div>

</div>

<script>

    function cancelar() {
        var mapForm = document.createElement("form");

        mapForm.method = "POST";
        mapForm.action = "/";
        document.body.appendChild(mapForm);
        mapForm.submit();

    }
</script>
