@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PACC - Mi proyecto ASPNET .Core</h1>
    <p>Este proyecto fue elaborado con pocos conocimientos en Front End, ya que se eh realizado antes Api-Rest, gracias. <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
